body {
  font-family: sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

/* Container Utama */
.container {
  display: flex;
  gap: 20px;
  margin: 0 50px;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

/* Paragraf */
.paragraph h1 {
  color: #007bff;
  margin-bottom: 10px;
}

.paragraph .p2 {
  margin-top: 20px;
}

/* Gambar Hero */
.gambar-hero img {
  max-height: 500px;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #1f1f1f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #007bff;
}

/* Tombol Download */
.download-btn a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.download-btn a:hover {
  background-color: #0056b3;
}